.boardContainer
  padding-top 50px
  width 100vw
  height 100vh
  max-width 500px
  height 100vh
  max-height 500px
  display flex
  flex-wrap wrap
  margin 0 auto
  margin 50px

.boardCell
  background transparent
  border 1px solid #333333
  border-radius 2px
  margin 0.5%
  width 32%
  height 32%
  display flex
  justify-content center
  align-items center

  &:hover
    cursor pointer
    background #333333
    box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.letter
  font-size 4.5rem
  color #AB47BC

.boardCell.X .letter
  color #FF5A09
