.boardContainer
  width 100vw
  height 90vh
  display flex
  flex-wrap wrap
  align-items center
  justify-content center
  padding-right 25%

.cells
  width 480px
  height 480px
  display flex
  flex-wrap wrap

.boardCell
  background transparent
  border 1px solid #E0E0E0
  border-radius 2px
  margin 5px
  width 150px
  height 150px
  display flex
  justify-content center
  align-items center

  &:hover
    cursor pointer
    // background 
    box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

@media screen and (max-width: 768px)
  .boardContainer
    padding-right 0

  .cells
    width 100vw
    height 100vw

  .boardCell
    width 30.5vw
    height 30.5vw

.letter
  font-size 4.5rem
  color #AB47BC

.boardCell.X .letter
  color #FF5A09
