button[type=submit], .playAgain
  height 50px
  padding-left 60px
  padding-right 60px
  margin-left 150px
  margin-top 50px
  font-size 2rem
  background #FF5A09
  border-radius 2px
  border none
  color #FFF
  outline none
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)

  &:hover
    background #AB47BC
    color #FFF

  @media screen and (max-width: 600px)
    margin-left 0
