.gameArea
  width 100vw
  display flex
  justify-content center
  align-items center
  flex-direction column
  overflow hidden
  background #AB47BC

  .chat
    width 20%
    height 90vh
    margin-top 10vh
    position absolute
    background #FFF
    border none
    top 0
    right 0

    @media screen and (max-width: 730px)
      display none

    ul
      padding 10px
      overflow-y scroll
      height 90vh
      background #EC407A
    ul::-webkit-scrollbar
      display: none

    li
      color #333333
      padding 10px
      font-size 1.5rem
      margin-bottom 10px

    li.player-1
      background #80DEEA
    li.player-2
      background #F06292

      .chat-sender-name
        padding-bottom 10px
        color #FF5A09

    .chat-form
      padding 0
      margin 0
      width 100%
      position absolute
      height auto
      left 0
      bottom 0

      textarea
        width 100%
        padding 10px
        border none
        font-size 1.3rem
        background #FFF
        color #333333
        font-weight bolder
        outline none
