.title
  color #FFF5C3
  padding 30px 50px

form
  width 70vw
  margin 100px auto
  display flex
  flex-direction column

label
  padding 20px
  color #fff

input
  background-color #2A333C
  border none
  border-radius 50px
  padding 20px
  color #fff

  &:focus
    outline none
