.title
  color #FFF5C3
  padding 20px 25px
  @media screen and (max-width: 600px)
    padding 10px 5px

form
  width 70vw
  margin 70px auto
  display flex
  flex-direction column
  @media screen and (max-width: 600px)
    margin 25px auto

label
  padding 20px
  color #fff

input
  background-color #2A333C
  border none
  border-radius 50px
  padding 20px
  color #fff

  &:focus
    outline none
