.gameArea
  width 100vw
  display flex
  justify-content center
  align-items center
  flex-direction column
  overflow hidden

.toggle-chat
  display none
  position absolute
  top 15vh
  right 20px
  z-index 20
  cursor pointer
  font-weight bolder
  color #E91E63

  @media screen and (max-width: 730px)
    display block

.SocialMediaShareButton
  position absolute
  left 15px
  bottom 15px
  cursor pointer

  @media screen and (max-width: 730px)
    display none
