.scoreBoard
  height 10vh
  display flex
  justify-content center
  align-items center
  background #7BCED7

.player
  color #fff
  font-size 3rem
  padding-right 20px
  padding-left 20px
  background #7BCED7

.SocialMediaShareButton
  position absolute
  right 15px
