.statusContainer
  position absolute
  top 150px
  left 25px
  color #FFF4C5
  font-size 4rem
  background transparent
  @media screen and (max-width: 1047px)
    top 0
    left 0
    width 100vw
    height 100vh
    background #333333
    display flex
    flex-direction column
    align-items center
    justify-content center

.playAgain
  padding 15px
