.statusContainer
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  display flex
  justify-content center
  align-items center
  flex-direction column
  font-size 4rem
  color #FFF
  background #600473
  transition transform 0.5s ease

  span
    text-align center

    @media screen and (max-width: 670px)
      font-size 2rem

  span, button
    opacity 1
    transform scale(1)
    transition all 1s easeInOutSine
    transition-delay 0.5s

  &.playing
    transform translateX(-100%)

    span, button
      opacity 0
      transform scale(0)
  //
  // @media screen and (max-width: 1047px)
  //   display flex
  //   flex-direction column
  //   align-items center
  //   justify-content center

.playAgain
  margin-left 0
