html
  font-size 62.5%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  font-family 'Anonymous Pro', monospace;
  font-size 2rem

.title
  font-size 6rem
  font-family 'Elsie', cursive;

  @media screen and (max-width: 600px)
    font-size 4rem

.letter
  font-family 'Fredoka One', cursive;

form
  label
    font-family 'Anonymous Pro', monospace;
    font-size 2.2rem

    @media screen and (max-width: 600px)
      font-size 1.3rem
