html
  font-size 62.5%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  font-family 'Vidaloka', serif;
  font-size 2rem

.title
  font-size 5rem

.letter
  font-family 'Vidaloka', serif;
  
form
  label
    font-family 'Yanone Kaffeesatz', sans-serif;
    font-size 3rem
