.waiting
  width 100vw
  min-height 100vh
  display flex
  justify-content center
  align-items center
  flex-direction column
  background #600473

.wait-heading, .copy-link, .sms-sent
  text-align center
  color #FFF
  font-size 2rem
  line-height 2rem
  text-align center

  @media screen and (max-width: 600px)
    font-size 1.5rem
    margin-left 20px
    margin-right 20px

.sms-sent
  margin-bottom 25px
  color #76FF03

.waiting-form
  padding 0
  margin 0
  width 100%
  height auto
  display flex

  .player-input
    align-self center
    margin-top 50px
    margin-bottom 50px
    margin-left 0

    input
      margin-left 0
      margin-bottom 20px
      //
      // @media screen and (max-width: 600px)
      //   margin 20px

  button
    align-self center
    margin 0
    margin-bottom 50px

.copy-link
  margin-top 0
  font-size 1.5rem
  margin-top 25px
  margin-bottom 50px

.link
  color #FFF
  font-size 1.8
  cursor pointer
  font-weight bolder
  align-self center

  &:hover
    color #E91E63

  @media screen and (max-width: 600px)
    font-size 1.2rem
    margin-left 20px
    margin-right 20px
