* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.boardContainer {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 25%;
}
.cells {
  width: 480px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.boardCell {
  background: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin: 5px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.boardCell:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media screen and (max-width: 768px) {
  .boardContainer {
    padding-right: 0;
  }
  .cells {
    width: 100vw;
    height: 100vw;
  }
  .boardCell {
    width: 30.5vw;
    height: 30.5vw;
  }
}
.letter {
  font-size: 4.5rem;
  color: #ab47bc;
}
.boardCell.X .letter {
  color: #ff5a09;
}
button[type=submit],
.playAgain {
  height: 50px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 150px;
  margin-top: 50px;
  font-size: 2rem;
  background: #ff5a09;
  border-radius: 2px;
  border: none;
  color: #fff;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
button[type=submit]:hover,
.playAgain:hover {
  background: #ab47bc;
  color: #fff;
}
@media screen and (max-width: 600px) {
  button[type=submit],
  .playAgain {
    margin-left: 0;
  }
}
.gameArea {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.gameArea .chat {
  width: 20%;
  height: 90vh;
  margin-top: 10vh;
  position: absolute;
  background: #fff;
  border: none;
  top: 0;
  right: 0;
}
@media screen and (max-width: 730px) {
  .gameArea .chat {
    display: none;
  }
}
.gameArea .chat ul {
  padding: 10px;
  overflow-y: scroll;
  height: 90vh;
  background: #e0e0e0;
}
.gameArea .chat ul::-webkit-scrollbar {
  display: none;
}
.gameArea .chat li {
  color: #333;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.gameArea .chat li.player-1 {
  background: #80deea;
}
.gameArea .chat li.player-2 {
  background: #fff;
}
.gameArea .chat li.player-2 .chat-sender-name {
  padding-bottom: 10px;
  color: #ff5a09;
}
.gameArea .chat .chat-form {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  height: auto;
  left: 0;
  bottom: 0;
}
.gameArea .chat .chat-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px dotted #9068be;
  font-size: 1.3rem;
  background: #fff;
  color: #333;
  font-weight: bolder;
  outline: none;
}
.form-container {
  background: #000;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/landing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
form {
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 600px) {
  form {
    width: 100vw;
    margin: 25px;
  }
}
.player-input {
  margin: 20px;
  margin-right: 0;
}
.player-input input {
  background-color: #fff;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px 60px 10px 15px;
  margin-left: 25px;
  color: #ff5a09;
  text-align: left;
  outline: none;
}
.player-input input:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.player-input input:focus {
  outline: none;
}
.player-input label {
  color: #2a333c;
  margin-right: 25px;
}
@media screen and (max-width: 600px) {
  .player-input label {
    width: 100%;
  }
}
.loader {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #600473;
}
.loader p {
  color: #fff;
  font-weight: bolder;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
.scoreBoard {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ab47bc;
}
.player {
  font-size: 2rem;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
.SocialMediaShareButton {
  position: absolute;
  right: 15px;
}
.statusContainer {
  display: none;
  position: absolute;
  top: 150px;
  left: 25px;
  color: #fff4c5;
  font-size: 4rem;
  background: transparent;
}
@media screen and (max-width: 1047px) {
  .statusContainer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.playAgain {
  display: none;
}
.turn {
  display: none;
  font-size: 5rem;
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #fff;
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
}
.title {
  font-size: 6rem;
  font-family: 'Elsie', cursive;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
  }
}
.letter {
  font-family: 'Anonymous Pro', monospace;
}
form label {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2.2rem;
}
@media screen and (max-width: 600px) {
  form label {
    font-size: 1.3rem;
  }
}
.waiting {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #600473;
}
.wait-heading,
.copy-link {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .wait-heading,
  .copy-link {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.waiting-form {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  margin: 30px 0;
}
.waiting-form .player-input input {
  margin-left: 0;
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}
.waiting-form button {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  margin-bottom: 20px;
}
.copy-link {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.link {
  color: #fff;
  font-size: 1.8;
  cursor: pointer;
  font-weight: bolder;
  -ms-flex-item-align: center;
      align-self: center;
}
.link:hover {
  color: #e91e63;
}
@media screen and (max-width: 600px) {
  .link {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}
